*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

body{height: 150rem;}

p, a, span, div{
    font-size: 1.25rem
}
ul{
    list-style: none;
}
.bold{
    font-weight: bold;
}
a{
    text-decoration: none;
}
a{
    color:white;
}
/* a:active{} */
/* a:visited{} */
/* a:hover{} */

img{ max-width: 100%; }
.text-gold{color:#D4A750;}
.text-dark{color:#000000;}
.text-white{color:white;}
.bg-gold{background-color: #D4A750;}
.bg-dark{background-color: black;}
.container{ width:90%; margin: 0 auto;}
.p-absolute{position: absolute;}
.d-flex{ display: flex;}
.space-between{ justify-content: space-between;}
.py-1{ padding: 1% 0;}
#logo{ width:4.5rem;}
.active{
    color: #D4A750;
}

/* .nav-item { 
    margin: 0 2%;
} */
/* .nav-item:hover{
    background-color: #D4A750;
    color: #000000;
} */

.nav-items{
    width:40%;
    align-self: center;
}
.nav-items ul{
    width:100%
}
.drop-down{
    display: none;
}

/***********************************************/

/* Section 1 */
    .s1
    {
        background-image: url(Assets/office.jpg);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 40rem;
        animation-name: zooming;
        animation-duration: 3.4s;
        animation-delay: .5s;
        animation-iteration-count: infinite;
    }

    @keyframes zooming {
        0% { background-size: 100%; }
        5% { background-size: 100.5%; }
        10% { background-size: 101%; }
        15% { background-size: 101.5%; }
        20% { background-size: 102%; }
        25% { background-size: 102.5%; }
        30% { background-size: 103%; }
        35% { background-size: 103.5%; }
        40% { background-size: 104%; }
        45% { background-size: 104.5%; }
        50% { background-size: 105%; }
        55% { background-size: 105.5%; }
        60% { background-size: 106%; }
        65% { background-size: 106.5%; }
        70% { background-size: 107%; }
        75% { background-size: 107.5%; }
        80% { background-size: 108%; }
        85% { background-size: 108.5%; }
        90% { background-size: 109%; }
        95% { background-size: 109.5%; }
        100% { background-size: 110%; }
    }


    /* .s1:hover
    {
        transform: rotateX(90deg);
        transition: all 2s;
    } */

    .overlay
    {
        background-color: black;
        width: 100%;
        height: 40rem;
        opacity: .5;
        position: relative;
    }

    .s1 h3, p{
        font-family: sans-serif;
        color: white;
        position: absolute;
        
    }

    .s1 h3
    {
        font-size: 3rem;
        top: 38%;
        right: 23%;
    }

    .s1 .p1
    {
        font-size: 1.7rem;
        top: 47%;
        right: 45%;
    }

    .s1 .p2
    {
        font-size: 1.7rem;
        top: 52%;
        right: 46%;
    }

    .s1 .p3
    {
        font-size: 1.7rem;
        top: 57%;
        right: 43%;
    }

/************************************************/

/* Section 2 */
    .s2 iframe
    {
        width:35%;
        margin: 2% 0 0 15%;
    }

    .s2 div
    {
        color: #000;
        text-align: justify;
        width: 30%;
        height: fit-content;
        margin: 4rem 0 0 2rem;
    }

/************************************************/

/* Services section */
    .services h1
    {
        font-size: 2.5rem;
        color: #d4a750;
    }

    .services .line
    {
        margin: 1.4% auto;
        width: 6rem;
        border: #000 1px solid;
    }

    .cards
    {
        
    }

    .cards .card
    {
        width: 28%;
        max-height: 40rem;
        box-shadow: 2px 0px 2px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
        text-align: center;
        margin: 1%;
    }

    .card img
    {
        height: auto;
        width: 100%;
    }

    .card p
    {
        margin: 3%;
        text-align: justify;
    }

    .card h2
    {
        margin: 1.5%;
        font-weight: 500;
    }



/************************************************/

/* Flip Card */
    .card
    {
        position: relative;
        margin: 1% auto;
        width: 30rem;
        height: 40rem;
    }


    .front, .back
    {
        position: absolute;
        backface-visibility: hidden;
        height: 40rem;
        width: 100%;
    }

    .front
    {
        transform: rotateY(0deg);
    }

    .back
    {
        transform: rotateY(180deg);
        text-align: center;
        background-color: #D4A750;
    }

    .back h3
    {
        font-size: 3rem;
        top: 12rem;
        left: 10rem;
    }

    .back p
    {
        font-size: 2.1rem;
        top: 17rem;
        left: 7.5rem;
    }

    .card:hover .front
    {
        transform: rotateY(180deg);
        transition: all 1s;
    }

    .card:hover .back
    {
        transform: rotateY(0deg);
        transition: all 1s;
    }


/************************************************/

    .anime
    {
        width: 200px;
        height: 200px;
        animation-name: moving;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-direction: reverse;
    }

    @keyframes moving {
        /* from
        {
            margin-top: 0;
        }

        to
        {
            margin-top: 20%;
        } */

        0%{ margin-top: 0;}
        25%{margin-top: 2.5rem; margin-left: 2rem;}
        50%{margin-top: 5rem; margin-left: 5rem;}
        75%{margin-top: 10rem; margin-left: 10rem;}

    }
